<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Phoenix's Feather</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content mode="ios">

    <ion-grid>

        <ion-row>

            <ion-col size="12">

                <ion-img src="/assets/img/ista-logo.png"></ion-img>

            </ion-col>

        </ion-row>

    </ion-grid>

    <ion-card class="welcome-card">

        <ion-card-header>
            <ion-card-title class="ion-text-center">BIENVENIDO</ion-card-title>
        </ion-card-header>



        <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">

            <ion-item>
                <ion-label position="floating">Usuario:</ion-label>
                <ion-input tye="text" [(ngModel)]="user.username" name="usuario" required>
                </ion-input>
            </ion-item>
            <!--input usuario-->
            <ion-item>
                <ion-label position="floating">Contaseña:</ion-label>
                <ion-input [(ngModel)]="user.password" type="password" name="password" required>
                </ion-input>
            </ion-item>
            <!--input password-->



            <ion-button class="ion-margin-top" expand="block" type="submit" [disabled]="formulario.invalid">Ingresar
            </ion-button>
            <!--boton enviar-->

        </form>




    </ion-card>



</ion-content>